.sidebar{
    position: relative;
    border: 2px solid rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.tabs {
    margin: 0;
    padding:0;
}
ul{
    padding:0;
    margin:0;
}
li{
    list-style-type: none;
    padding: 8px;
    height: 100%;
    border-radius: 3px;
}
li button{
    border:none;
    background-color: inherit;
    outline:none;
    cursor:pointer;
}
.active{
    background-color:rgb(228, 228, 228);
}
.active svg{
    fill: grey;
}
li:hover{
    background-color:rgb(228, 228, 228);
}
li:hover svg{
    fill:black
}
svg{
    fill: grey;
}
.tab-pane{
    display: none;
    min-width: 25vw;

    max-width: 35vw;
}
.header{
    margin-top: 0;
    padding-top: 0;

}
.header h1{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.mr-1{
    margin-right: 5px;
}
#close-button{
  position: relative;
  left: -7px
}
h2{
  margin: 0;
  padding: 0;
}
.button-img{
  height: auto;
  width: auto;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

#unibe_logo{
  width: 28%;
  height: 100%;
  padding: 2%;
}
#astra_logo{
  width: 70%;
  height: 100%;
  padding: 2%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
