.sidebar{
    position: relative;
    border: 2px solid rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 97vh;
    color: gray;
}
.tabs {
    height: 100%;
    margin: 0;
    padding:0;
}
ul{
    padding:0;
    margin:0;
}
li{
    list-style-type: none;
    padding: 8px;
    height: 100%;
    border-radius: 3px;
}
li button{
    border:none;
    background-color: inherit;
    outline:none;
    cursor:pointer;
}
.active svg{
    fill: grey;
}
li:hover{
    background-color:rgb(228, 228, 228);
}
li:hover svg{
    fill:black
}
svg{
    fill: grey;
}
.tab-pane{
    display: none;
    width: 35vw;
}
.header{
    margin-top: 0;
    padding-top: 0;

}
.header h1{
    margin: 0;
    padding: 0;
}
.mr-1{
    margin-right: 5px;
}
.close{
  position: relative;
  right: 5px;
  top: -8px;
}
h2{
  margin: 0;
  padding: 0;
}
.button-img{
  height: auto;
  width: auto;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.map-button-text{
  position: absolute;
  visibility: hidden;
	background-color:rgb(228, 228, 228, 0.9);
	width: 100%;
  height: 100%;
	border-radius:5px;
	text-align: center;
}
.map-button:hover .map-button-text{
  visibility: visible;
}
.map-button{
  position: relative;
	border-radius:5px;
  width: 48%;
}
.map-button img{
  border-radius: 5px;
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 16vw;
  object-fit: cover;
}

.card-deck{
  width: 90%;
}