<header>
  <h1>Angular + D3</h1>
</header>
<p>Man könnte hier die Daten holen, und ein spinner mit lustigen sätzen anzeigen, sobald die daten da sind und das mapping gemacht wurde, leiten wir auf die Map Seite weiter</p>
<button [routerLink]="['/map']">go to map</button>

<button mat-raised-button (click)="getMeasurements()">get measurements</button>
<button mat-raised-button (click)="getMeasurementsites()">get sites</button>

<app-bar></app-bar>
<app-pie></app-pie>
<app-scatter></app-scatter>



<router-outlet></router-outlet>
