<div id="timebar" class="timebar d-flex p-2">
    <p *ngIf="!current()" class="my-auto font-weight-bold">{{ date() | date:'dd.MM.YY HH:mm' }}</p>
    <p *ngIf="current()" class="my-auto font-weight-bold">{{ date() | date:'HH:mm' }} (aktuell)</p>
    
    <div (click)="changeData()"  class="ml-2 custom-control custom-switch my-auto" >
        <input type="checkbox" class="custom-control-input" id="customSwitch1" #checkbox>
        <label class="custom-control-label" for="customSwitch1"></label>
    </div>
    <p *ngIf="dynamic" (click)="checkbox.click()" class="my-auto">Live</p>
    <p *ngIf="!dynamic" (click)="checkbox.click()" class="my-auto">Snapshot</p>
    <div *ngIf="loading">
        <div class="spinner-border-sm text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <span></span>
    </div>
</div>