.timebar{
    position: relative;
    border: 2px solid rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 5px;
    color: grey;
}

.tb-button{
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid var(--yellow);
    background-color: white;
    color: gray;
    cursor: pointer;
  }
  
  .tb-button:hover {
    border: 2px solid var(--orange);
  }
  
  .tb-button-disabled, .tb-button-disabled:hover{
    cursor:default;
    border: 2px solid var(--yellow);
  }
  
  .tb-button-inactive{
    border: 2px solid gray;  
    background-color: rgb(228, 228, 228,0.9);
    color: darkgray;
  }