<div id="timebar" class="timebar d-flex p-2">
    <p *ngIf="!current()" class="my-auto font-weight-bold">{{ date() | date:'dd.MM.YY HH:mm' }}</p>
    <p *ngIf="current()" class="my-auto font-weight-bold">{{ date() | date:'HH:mm' }} (aktuell)</p>
    <div  class="d-flex flex-row">
        <div class="ml-2 custom-control custom-switch my-auto">
            <input (click)="changeData()" type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="dynamic">
            <label class="custom-control-label" for="customSwitch1"></label>
        </div>
        <p *ngIf="dynamic && !loading" class="my-auto">Live</p>
        <p *ngIf="!dynamic" class="my-auto">Snapshot</p>
    </div>
    <svg (click)="getNewMeasurement()" *ngIf="dynamic && !loading && !current()" xmlns="http://www.w3.org/2000/svg" width="16"
        height="16" fill="currentColor" class="bi bi-arrow-counterclockwise my-auto mx-2" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
    </svg>

    <div *ngIf="loading" class="my-auto">
        <div class="spinner-border spinner-border-sm text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <span></span>
    </div>
</div>