<div id="modal-content-wrapper">
  <header id="modal-header" class="mr-1 d-flex justify-content-between ">
    <h1 id="modal-title">Richtung {{this.name}}</h1><img class="align-self-top" width="24" height="24"
      (click)="closeModal()" src="assets/icons/close.svg">
  </header>
  <section id="modal-body" class="d-flex flex-wrap">
    <div *ngFor="let l of site.lanes" class="mt-1 ml-1">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Spur {{ l.siteId.split('.')[1] }}</h3>
          <div class="card-text">
            <div *ngIf="l.measurements.reasonForDataError; then error else noError"></div>
            <ng-template #noError>
              <app-pie [lane]="l"></app-pie>
            </ng-template>
            <ng-template #error>
              <p style="width: 750px;"> Fehlermeldung: {{ l.measurements.reasonForDataError }}</p>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>