<div id="modal-content-wrapper">
  <header id="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1 id="modal-title">Richtung {{this.name}}</h1>
  </header>
  <section id="modal-body" class="d-flex flex-wrap">
    <div *ngFor="let l of site.lanes" class="m-1">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Spur {{ l.siteId.split('.')[1] }}</h3>
          <div class="card-text">
            <div *ngIf="l.measurements.reasonForDataError; then error else noError"></div>
            <ng-template #noError>
              <app-line-simulator [lane]="l"></app-line-simulator>
              <div class="container border">
                <h4>Durchschnittsgeschwindikeit:</h4>
                <p>
                  <strong>Leichtverkehr:</strong> {{ getCarSpeed(l) }} km/h <br>
                  <strong>Schwerverkehr:</strong> {{ getLorrySpeed(l) }} km/h
                </p>
              </div>
            </ng-template>
            <ng-template #error>
              <p style="width: 750px;"> Fehlermeldung: {{ l.measurements.reasonForDataError }}</p>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
