#modal-content-wrapper {
  display: grid;
  color :gray;
  padding: 10px
}

#modal-title {
  font-size: 22px;
}

#modal-footer {
  justify-self: right;
  align-self: center;
}

#modal-action-button {
  margin-right: 30px;
}

.close{
  position: relative;
}
#no_wrap {
  white-space: nowrap;
}
div > header > button{
  margin-right: 10px;
}